<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Sql2008" connectionString="Server=.\SQLEXPRESS08;Database=XmlTest;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>